.imgContainer{
    position: relative;
    overflow: hidden;
    border-radius: 12px; 
    width: min-content;
    height: min-content;
}

.card__img{
    max-width: 300px;
    height: auto;
}

.card__text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    left: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: #FCFCFC;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    line-height: 18px;

    transition: left 0.3s ease-in 0s;
}

.imgContainer:hover > .card__text{
    left: 0;
}