.actionButton{
    display: flex;
    justify-content: center;
    padding-block: 5px;
    border-radius: 7px;
    background-color: #3a3a3a;
    color: #ffc75b;
    font-size: 10px;
    font-weight: 500;
    border: none;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    cursor: pointer;
    width: 58px;
    transition-property: width !important;
    transition-duration: 300ms !important;
}

.flagship{
    border-radius: 6px;
    background-color: #FFC450;
    color: #2E2E2E;
    font-weight: 600;
    margin-top: 0;
    width: 68px;
}

.cleared{
    width: 76px
}
