.actionButton{
    display: flex;
    justify-content: center;
    padding-block: 5px;
    border-radius: 7px;
    background-color: #525252;
    color: #FFD990;
    font-size: 10px;
    font-weight: 500;
    border: none;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    cursor: pointer;
    width: 58px;
    transition: width 0.5s ease-in !important;
    -moz-transition: width 0.5s ease-in !important;
    -webkit-transition: width 0.5s ease-in !important;
    -o-transition: width 0.5s ease-in !important;
    -ms-transition: width 0.5s ease-in !important;
}

.flagship{
    border-radius: 6px;
    background-color: #FFC450;
    color: #2E2E2E;
    font-weight: 600;
    margin-top: 0;
    width: 68px;
}

.actionButton.cleared{
    color: #525252;
    background-color: #FFD990;
    width: 76px;
}

