.card{
    position: relative;
    width: 279px;
    overflow: hidden;
    border-radius: 12px; 
}

.card__img{
    width: 100%;
}

.card__text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: #FCFCFC;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    line-height: 18px;

    transition: left 0.3s ease-in 0s;
}

.card:hover > .card__text{
    left: 0;
}