.selectLabel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    color: #FCFCFC;
    z-index: 2;
}

.selectLabel > span{
    padding-left: 13px;
    font-size: 10px;
}

.selectLabel > select{
    margin-top: 10px;
    background-color: #FCFCFC;
    width: 279px;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    padding-block: 8px;
    padding-inline: 10px;
}